# Environment
.env
*.env

# Python cache & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
ENV/

# Reports & Logs
reports/
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary
*.tmp
__pycache__/
*.pyc
ProjectPlan1.docx
tests/__pycache__/test_posts.cpython-311-pytest-9.1.1.pyc
~$ojectPlan1.docx
