# Core Dependencies for API Automation Framework
pytest==8.3.3
requests==2.32.3
python-dotenv==1.0.1
pytest-html==4.1.1
allure-pytest==2.13.5
pytest-metadata==3.1.1

# Optional (better reporting & utils)
allure-python-commons==2.13.5